.grid-containe {
	display: flex;
	flex-direction: row;
}

.grid-containe .paper {
	padding: 10px;
	margin: 10px;
	background-color: white;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.grid-containe .paper .video {
	width: 550px;
}

.grid-containe .paper .name {
	margin-bottom: 4px;
}
@media screen and (max-width: 800px) {
	.grid-containe {
		display: flex;
		flex-direction: column;
	}
}

.name {
	color: #006;
}

@media screen and (max-width: 600px) {
	.grid-containe .paper {
		padding: 5px;
		margin: 5px;
		background-color: white;
	}

	.grid-containe .paper .video {
		max-width: 400px;
	}

	.grid-containe .paper .name {
		margin-bottom: 2px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 400px) {
	.grid-containe .paper {
		padding: 5px;
		margin: 5px;
		background-color: white;
	}

	.grid-containe .paper .video {
		max-width: 300px;
	}

	.grid-containe .paper .name {
		margin-bottom: 2px;
		margin-left: 10px;
	}
}
