.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: whitesmoke;
	min-height: 92vh;
}

.app-bar {
	border-radius: 15px;
	margin: 20px 100px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 80px;
	color: #006;
	box-shadow: 3px 3px 5px 6px #ccc;
}

@media screen and (max-width: 600px) {
	.app-bar {
		max-width: 400px;
	}
}

@media screen and (max-width: 400px) {
	.app-bar {
		max-width: 300px;
	}
}
