.cards {
  height: 600px;
  overflow: scroll;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  padding-top: 70px;
  padding-bottom: 10px;
}
.card {
  padding-top: 20px;
  background-color: white;
  color: #006;
  height: 335px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.card .doctor-details {
  padding-top: 3px;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  line-height: 30px;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
}
@media (max-width: 599px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.DocImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 88px;
  top: -24px;
}
.card:hover .DocImage {
  border: 4px solid orange;
}
@media (max-width: 800px) {
  .DocImage {
    left: 130px;
  }
}

@media (max-width: 400px) {
  .DocImage {
    left: 95px;
  }
}

@media (max-width: 320px) {
  .DocImage {
    left: 70px;
  }
}

.view-more {
  background-color: #006;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 140px;
  cursor: pointer;
  border: 1px solid #006;
}

.view-more:hover {
  background-color: white;
  color: #006;
  border: 1px solid #006;
}

.view {
  padding-top: 15px;
}
.card .s {
  padding-top: 20px;
}
.star-container {
  margin-top: 10px;
  margin-bottom: 5px;
}