.section-four {
  min-height: 60vh;
  background-color: #f5f5f5;
}
.flex-contain {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.item-left {
  padding-top: 120px;
  flex: 50%;
  min-height: 60vh;
}

.item-right {
  flex: 50%;
  min-height: 60vh;
  background-image: url(../../Images/phones.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 800px) {
  .flex-contain {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0%;
  }

  .item-right {
    min-height: 24vh;
    background-position: top;
    margin-top: 12px;
  }
}

.ul {
  margin-top: 50px;
  margin-left: 100px;
}
.dBut {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.butt {
  background-color: #006;
  width: 200px;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #006;
  cursor: pointer;
}
.butt:hover {
  background-color: white;
  color: #006;
}
